@keyframes menuOpen {
    from {
        width: 1.5%;
    }
    to {
        width: 10%;
    }
}

@keyframes menuClose {
    from {
        width: 10%;
    }
    to {
        width: 1.5%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #91d1ff;
}

header {
    height: 80px;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
}

.logoVestEstudo {
    height: 100%;
    margin-left: 20px;
    z-index: 1;
}

.logoVestEstudo img {
    height: 100%;
}

header h1{
    width: 100%;
    text-align: center;
    position: absolute;
}

header section svg {
    margin-right: 20px;
    cursor: pointer;
    z-index: 2;
}

header section {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10px;
}

#userMenu {
    display: none;
    font-size: 0.8em;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    z-index: 5;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

#userMenu a {
    padding: 5px;
    border-radius: 5px;
}

#userMenu a:hover {
    background-color: #e7e7e7;
}

#userMenu a svg {
    font-size: 1.5em;
}

main{
    height: calc(100% - 80px);
    width: 100%;
    padding-top: 80px;
    display: flex;
    /* justify-content: space-between; */
}

#menu {
    width: 1.5%;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all ease 0.5s;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 1;
}


#menuOpen {
    cursor: pointer;
}

#menuClose {
    display: none;
    cursor: pointer;
}

#menuInteract {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuItems {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
}

a {
     color: #000;
     font-size: 1.2em;
     font-weight: bolder;
     text-decoration: none;
     display: flex;
     align-items: center;
     gap: 10px; border-radius: 5px;
}

.menuItems :hover {
    cursor: pointer;
    background-color: #e7e7e7;
}

.itemsText {
    display: none;
}

#confirmacaoLogout {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    margin-top: -100vh;
}

#confirmacaoLogout div {
    background-color: #fff;
    font-size: 2em;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 40px;
}
#confirmacaoLogout div form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#confirmacaoLogout div input {
    font-size: 1.7em;
    width: 30%;
    height: 55%;
    border: 1px solid #000;
    border-radius: 20px;
    transition: all ease 0.5s;
}

#confirmacaoLogout div input:hover {
    cursor: pointer;
    filter: brightness(0.70);
}

@media (max-width: 2000px) {
    svg{
        width: 30px;
        font-size: 2em;
    }

    #confirmacaoLogout div {
        font-size: 1.3em;
        width: 500px;
        height: 130px;
        border-radius: 20px;
    }

    #confirmacaoLogout div input {
        font-size: 1.2em;
        border-radius: 10px;
    }
}

@media (max-width: 1440px) {
    .itemsText{
        font-size: 0.7em;
    }
    svg{
        width: 20px;
        font-size: 1.6em;
    }
    #confirmacaoLogout div {
        font-size: 1.1em;
        width: 400px;
        height: 110px;
        border-radius: 20px;
    }

    #confirmacaoLogout div input {
        font-size: 1.2em;
        border-radius: 10px;
    }
}

@media (max-width: 770px) {
    .itemsText {
        font-size: 0.5em;
    }
    svg{
        width: 15px;
        font-size: 1.1em;
    }
    #confirmacaoLogout div {
        font-size: 0.6em;
        width: 200px;
        height: 50px;
        border-radius: 10px;
    }

    #confirmacaoLogout div input {
        font-size: 1.1em;
        height: 65%;
        border-radius: 5px;
    }
}

#container {
    font-size: 1.3em;
    width: 60%;
    min-height: 65%;
    max-height: 65%;
    background-color: #e0e0e0;
    margin: 50px;
    padding: 20px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

#criarCronograma {
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 1.25em;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#criarCronograma:hover {
    filter: brightness(0.7);
}

#formCronograma {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#formCronograma div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

#formCronograma select {
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all ease 0.5s;
}

#formCronograma select:hover {
    filter: brightness(0.7);
}

.datas {
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all ease 0.5s;
}

.datas:hover {
    filter: brightness(0.7);
}

#criar {
    font-size: 1.1em;
    background-color: rgba(0, 255, 255, 0.3);
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}

#criar:hover {
    filter: brightness(0.7);
}

#listaAulas {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#listaAulas a {
    font-size: 1.1em;
    font-weight: normal;
    transition: all ease 0.3s;
}

#listaAulas p {
    font-size: 1.1em;
    font-weight: normal;
    transition: all ease 0.3s;
}

#listaAulas a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

#listaAulas div {
    display: flex;
    gap: 10px;
}

#listaAulas button {
    background-color: rgba(0, 255, 0, 0.3);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
}

#listaAulas button:hover {
    filter: brightness(0.7);
}

#listaAulas button a:hover {
    color: #000;
    text-decoration: none;
}

.materia {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.materia:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

#container article {
    display: flex;
    max-height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

#container article div {
    width: 25%;
    min-width: 100px;
}

@media (max-width: 850px) {
    .materia{
        font-size: 0.8em;
    }
}

#tituloListaAulas {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

#tituloListaAulas h1 {
    width: 80%;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    z-index: 1;
}

#tituloListaAulas a button{
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid #000;
    font-size: 0.9em;
    padding: 5px;
    z-index: 2;
    border-radius: 5px;
    transition: all ease 0.5s;
    cursor: pointer;
}

#tituloListaAulas a button:hover {
    filter: brightness(0.7);
}

#containerMainOptions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mainOptions {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.mainOptions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.buttonMainOptions {
    width: 100%;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
}

.buttonMainOptions:hover {
    filter: brightness(0.7);
}